@import "tailwindcss";

@font-face {
  font-family: "SecondaryFont";
  src: url("/assets/font/secondary-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #f8fbff;
  --foreground: #232e5a;
  --white: #ffffff;
  /* Custom Colors */
  --color-primary: #232e5a;
  --color-secondary-bg: #f8fbff;
  --color-accent: #d9991f;
  --color-paragraph: #424242;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary-bg);
  --color-accent: var(--color-accent);
  --color-paragraph: var(--color-paragraph);
  --font-serif: var(--font-source-serif), serif;
  --font-secondary: "SecondaryFont", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary);
}

p {
  color: var(--color-paragraph);
}

.containers {
  width: 100%;
  max-width: 1440px;
}
